{
  "presets": ["env", "flow", "react", "stage-0"],
  "plugins": [
    "transform-runtime",
    [
      "module-resolver",
      {
        "alias": {
          "h": "./tests/hyperscript"
        }
      }
    ]
  ]
}
